:root {
    --container-max-width: 1300px; /* 1280 + 2*10px */
    --text-black-color: #444;
    --my-blue: #5262d9;
    --black-blue: #0a1674;
    --my-white: #fff;
}
@custom-media --medium-size (max-width: 920px);
@custom-media --small-size (max-width: 500px);

