<header class="header">
    <div class="container header__container">
        <div class="header__logo">
            <div class="logo">
                <img class="logo__img" src="#">
                <span class="logo__text">Logo</span>
                <p class="logo__description">Описание к logo</p>
            </div>
        </div>
        <div class="header__nav">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#"></a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#"></a>
                </li>
            </ul>
        </nav>
        </div>
    </div>
</header>
