extends ../layouts/layout
block main
    include ../blocks/header/header
    main.main
        .container.weather__container
            .weather
                include ../blocks/card_weather
            .cities
