@import "nav.pcss";

.header {
    background-color: #1f30b2;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 50px;
    }

    &__logo-search-wrapper {
        display: flex;
        padding: 5px 10px 5px 0;
    }

    &__logo {

    }

    &__nav {
        padding: 5px 0 5px 10px;
    }
}
