.card.card_cities
    .cities__content
        .row.cities__row
            ul.cities__list
                li.cities__item
                    span.cities__city-name Ижевск
                    span.cities__city-description Удмуртская республика
                    span.cities__item-del.js-cities__item-del +
                li.cities__item
                    span.cities__city-name Набережные Челны
                    span.cities__city-description Республика Татарстан
                    span.cities__item-del.js-cities__item-del +
                li.cities__item
                    span.cities__city-name Казань
                    span.cities__city-description Республика Татарстан
                    span.cities__item-del.js-cities__item-del +
                li.cities__item
                    span.cities__city-name Нижний Новгород
                    span.cities__city-description Нижегородская область
                    span.cities__item-del.js-cities__item-del +
        .row.cities__add-city-row
            button.btn.cities__add-city-btn Добавить город
            input.input.cities__add-city-input(placeholder='Название города')(style='display:none')

