include wind-svg
include mist-svg
include thermometer-svg
.card.card_weather
    .weather__content
        span.weather__city-name Ижевск
        .weather__top-container
            .weather__top-wrapper
                .weather__state
                    span.weather__temp-val +19
                    //span.weather__temp-unit &#8451;
                    span.weather__temp-unit &#176;
                    p.weather__precip Облачно
                img.weather__img(src=require('../../images/weather_icons/day/116.png'))
                .weather__temp.weather__temp_feel
                    p.weather__temp-feel-text Ощущается как
                        span.weather__temp-val  +18
                        //span.weather__temp-unit &#8451;
                        span.weather__temp-unit &#176;

            ul.weather-fields-list
                li.weather-field
                    +windsvg({})
                    p.field__content.field__content_wind
                        span.field__val.js-field__wind-speed 3.6
                        span.field__unit  м/с,
                        span.field__val.js-field__wind-dir  ЮЗ
                li.weather-field
                    +mistsvg({})
                    p.field__content.field__content_humidity
                        span.field__val.js-field__humidity 87%
                        span.field__unit
                li.weather-field
                    +thermometersvg({})
                    p.field__content.field__content_pressure
                        span.field__val.js-field__pressure 745
                        span.field__unit  мм.рт.ст
        .weather__forecast-container
            .forecast__card
                span.forecast__card-label 28.08.2019
                .row.forecast__temp
                    img.weather__img(src=require('../../images/weather_icons/day/116.png'))
                    span.weather__temp-val.forecast__temp-val.forecast__temp_min 33
                    span.weather__temp-unit &#176...
                    span.weather__temp-val.forecast__temp-val.forecast__temp_max 36
                    span.weather__temp-unit &#176;
                ul.weather-fields-list.forecast__fields-list
                    li.weather-field.forecast-field
                        +windsvg({dark: true})
                        p.field__content.field__content_wind
                            span.field__val.js-field__wind-speed_min 3.6
                            span.field__val ...
                            span.field__val.js-field__wind-speed_max 6
                            span.field__unit  м/с
                    li.weather-field.forecast-field
                        +mistsvg({dark: true})
                        p.field__content.field__content_humidity
                            span.field__val.js-field__humidity 87%
                            span.field__unit
                    li.weather-field.forecast-field
                        +thermometersvg({dark: true})
                        p.field__content.field__content_pressure
                            span.field__val.js-field__pressure 745
                            span.field__unit  мм.рт.ст

            .forecast__card
                span.forecast__card-label 29.08.2019
                .row.forecast__temp
                    img.weather__img(src=require('../../images/weather_icons/day/116.png'))
                    span.weather__temp-val.forecast__temp-val.forecast__temp_min 13
                    span.weather__temp-unit &#176...
                    span.weather__temp-val.forecast__temp-val.forecast__temp_max 16
                    span.weather__temp-unit &#176;
                ul.weather-fields-list.forecast__fields-list
                    li.weather-field.forecast-field
                        +windsvg({dark: true})
                        p.field__content.field__content_wind
                            span.field__val.js-field__wind-speed_min 3.6
                            span.field__val ...
                            span.field__val.js-field__wind-speed_max 6
                            span.field__unit  м/с
                    li.weather-field.forecast-field
                        +mistsvg({dark: true})
                        p.field__content.field__content_humidity
                            span.field__val.js-field__humidity 87%
                            span.field__unit
                    li.weather-field.forecast-field
                        +thermometersvg({dark: true})
                        p.field__content.field__content_pressure
                            span.field__val.js-field__pressure 745
                            span.field__unit  мм.рт.ст

            .forecast__card
                span.forecast__card-label 30.08.2019
                .row.forecast__temp
                    img.weather__img(src=require('../../images/weather_icons/day/116.png'))
                    span.weather__temp-val.forecast__temp-val.forecast__temp_min 13
                    span.weather__temp-unit &#176...
                    span.weather__temp-val.forecast__temp-val.forecast__temp_max 16
                    span.weather__temp-unit &#176;
                ul.weather-fields-list.forecast__fields-list
                    li.weather-field.forecast-field
                        +windsvg({dark: true})
                        p.field__content.field__content_wind
                            span.field__val.js-field__wind-speed_min 3.6
                            span.field__val ...
                            span.field__val.js-field__wind-speed_max 6
                            span.field__unit  м/с
                    li.weather-field.forecast-field
                        +mistsvg({dark: true})
                        p.field__content.field__content_humidity
                            span.field__val.js-field__humidity 87%
                            span.field__unit
                    li.weather-field.forecast-field
                        +thermometersvg({dark: true})
                        p.field__content.field__content_pressure
                            span.field__val.js-field__pressure 745
                            span.field__unit  мм.рт.ст
